.tab-services {
    background-color: var(--gray);
    padding: 60px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &__tabs {
        display: flex;
        justify-content: center;
        gap: 53px;
        margin-bottom: 30px;
    }
    &__tab {
        font-size: 17px;
        font-weight: 600;
        line-height: 2.47;
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        &.is-active {
            color: rgba(255, 255, 255, 1);
            border-bottom: 1px solid #ff0000;
        }
    }
}

@media (max-width: 768px) {
    .tab-services {
        padding: 40px 0;
        &__tabs {
            margin-bottom: 20px;
        }
        &__tab {
            font-size: 14px;
        }
    }
}